In [1]:
import numpy as np
import pandas as pd

In [2]:
data1=pd.read_csv(r"C:\Users\hp\Downloads\car_data.csv")
data1.head()

,Car ID,Symboling,Car Name,Fuel Type,Aspiration,Door Number,Car Body,Drive Wheel,Engine Location,Wheel Base,...,Engine Size,Fuel System,Bore Ratio,Stroke,Compression Ratio,Horse Power,Peak RPM,City MPG,Highway MPG,Price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car ID             205 non-null    int64
 1   Symboling          205 non-null    int64
 2   Car Name           205 non-null    object
 3   Fuel Type          205 non-null    object
 4   Aspiration         205 non-null    object
 5   Door Number        205 non-null    object
 6   Car Body           205 non-null    object
 7   Drive Wheel        205 non-null    object
 8   Engine Location    205 non-null    object
 9   Wheel Base         205 non-null    float64
 10  Car Length         205 non-null    float64
 11  Car Width          205 non-null    float64
 12  Car Height         205 non-null    float64
 13  Curb Weight        205 non-null    int64
 14  Engine Type        205 non-null    object
 15  Cylinder Number    205 non-null    object
 16  Engine Size        205 non-null    int64
 17  Fuel System        205 non-null    object
 18  Bore Ratio         205 non-null    float64
 19  Stroke             205 non-null    float64
 20  Compression Ratio  205 non-null    float64
 21  Horse Power        205 non-null    int64
 22  Peak RPM           205 non-null    object
 23  City MPG           205 non-null    int64
 24  Highway MPG        205 non-null    int64
 25  Price              205 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [4]:
data1.shape

(205, 26)

In [5]:
columns=data1.columns.str.lower().str.replace(" ","_")

In [6]:
data1.columns=columns

In [7]:
data1

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,"5,400",23,28,16845
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,"5,400",19,25,22625

In [8]:
data1.dtypes

car_id                 int64
symboling              int64
car_name              object
fuel_type             object
aspiration            object
door_number           object
car_body              object
drive_wheel           object
engine_location       object
wheel_base           float64
car_length           float64
car_width            float64
car_height           float64
curb_weight            int64
engine_type           object
cylinder_number       object
engine_size            int64
fuel_system           object
bore_ratio           float64
stroke               float64
compression_ratio    float64
horse_power            int64
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [9]:
data1.car_name.value_counts()

toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: car_name, Length: 147, dtype: int64

In [10]:
data1.car_name.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [11]:
data1.door_number.value_counts()

four    114
two      90
?         1
Name: door_number, dtype: int64

In [12]:
data1.peak_rpm.value_counts()
data1["peak_rpm"]=data1.peak_rpm.apply(lambda x: int(x.replace("K",""))*1000 if "K" in x else int(x.replace(",","")))

In [13]:
pd.crosstab(data1["door_number"],data1["car_body"])

car_body     convertible  hardtop  hatchback  sedan  wagon
door_number
?                      0        0          0      0      1
four                   0        0         10     80     24
two                    6        8         60     16      0

In [14]:
pd.crosstab(data1["door_number"],data1["fuel_type"])

fuel_type    diesel  gas
door_number
?                 0    1
four             17   97
two               3   87

In [15]:
data1.door_number.replace(to_replace="?",value="four",regex=False,inplace=True)

In [16]:
data1.door_number.value_counts()

four    115
two      90
Name: door_number, dtype: int64

In [17]:
data1["door_number"]=data1.door_number.apply(lambda x: 4 if x=="four" else 2)

In [18]:
data1

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,202,-1,volvo 144ea,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,203,-1,volvo 244dl,gas,std,4,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,204,-1,volvo 246,diesel,turbo,4,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,205,-1,volvo 264gl,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [19]:
data1.peak_rpm.value_counts()

5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
4500     7
5800     7
5250     7
5100     5
4150     5
4200     5
4350     4
4750     4
5900     3
4250     3
4400     3
6600     2
4650     1
5600     1
5750     1
4900     1
5300     1
Name: peak_rpm, dtype: int64

In [20]:
data1["brand"]=data1.car_name.apply(lambda x: x.split()[0])

In [21]:
data1["price"]=data1.price.apply(lambda x:x.split(".")[0] if "." in x else x)
data1["price"]=data1.price.apply(lambda x: int(x.replace("K",""))*1000 if "K" in x else int(x))
data1.price.value_counts()

8921     2
9279     2
7898     2
8916     2
7775     2
        ..
45400    1
16503    1
5389     1
6189     1
22625    1
Name: price, Length: 189, dtype: int64

In [22]:
data1["brand"]=data1.brand.apply(lambda x: "volkswagen" if x in ["vw",'vokswagen'] else x)
data1["brand"]=data1.brand.apply(lambda x:"Mazda" if x in ["maxda","mazda"] else x)
data1["brand"]=data1.brand.apply(lambda x:"Nissan" if x=="nissan" else x)
data1["brand"]=data1.brand.apply(lambda x:"Porsche" if x in ["porcshce",'porsche'] else x)
data1["brand"]=data1.brand.apply(lambda x: "Toyota" if x in ["toyota",'toyouta'] else x)

In [23]:
data1.brand.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'Mazda', 'buick', 'mercury', 'mitsubishi',
       'Nissan', 'peugeot', 'plymouth', 'Porsche', 'renault', 'saab',
       'subaru', 'Toyota', 'volkswagen', 'volvo'], dtype=object)

In [24]:
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("vw","volkswagen") if "vw" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace('vokswagen',"volkswagen") if 'vokswagen' in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("maxda","Mazda") if "maxda" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("mazda","Mazda") if "mazda" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("nissan","Nissan") if "nissan" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("porcshce","Porsche") if "porcshce" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("porsche","Porsche") if "porsche" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace("toyota","Toyota") if "toyota" in x else x)
data1["car_name"]=data1.car_name.apply(lambda x: x.replace('toyouta',"Toyota") if 'toyouta' in x else x)
data1.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price,brand
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,alfa-romero
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,alfa-romero
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,alfa-romero
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,audi
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,audi

In [25]:
data1.set_index("car_id",inplace=True)

In [26]:
data1.car_name.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'Mazda rx3', 'Mazda glc deluxe', 'Mazda rx2 coupe', 'Mazda rx-4',
       'Mazda 626', 'Mazda glc', 'Mazda rx-7 gs', 'Mazda glc 4',
       'Mazda glc custom l', 'Mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'Nissan gt-r', 'Nissan rogue',
       'Nissan latio', 'Nissan titan', 'Nissan leaf', 'Nissan juke',
       'Nissan note', 'Nissan clipper', 'Nissan nv200', 'Nissan dayz',
       'Nissan fuga', 'Nissan otti', 'Nissan teana', 'Nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'Porsche macan', 'Porsche panamera', 'Porsche cayenne',
       'Porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'Toyota corona mark ii', 'Toyota corona',
       'Toyota corolla 1200', 'Toyota corona hardtop',
       'Toyota corolla 1600 (sw)', 'Toyota carina', 'Toyota mark ii',
       'Toyota corolla', 'Toyota corolla liftback',
       'Toyota celica gt liftback', 'Toyota corolla tercel',
       'Toyota corona liftback', 'Toyota starlet', 'Toyota tercel',
       'Toyota cressida', 'Toyota celica gt', 'volkswagen rabbit',
       'volkswagen 1131 deluxe sedan', 'volkswagen model 111',
       'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher',
       'volkswagen rabbit custom', 'volvo 145e (sw)', 'volvo 144ea',
       'volvo 244dl', 'volvo 245', 'volvo 264gl', 'volvo diesel',
       'volvo 246'], dtype=object)

In [27]:
data1.columns

Index(['symboling', 'car_name', 'fuel_type', 'aspiration', 'door_number',
       'car_body', 'drive_wheel', 'engine_location', 'wheel_base',
       'car_length', 'car_width', 'car_height', 'curb_weight', 'engine_type',
       'cylinder_number', 'engine_size', 'fuel_system', 'bore_ratio', 'stroke',
       'compression_ratio', 'horse_power', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price', 'brand'],
      dtype='object')

In [28]:
pd.crosstab(data1["drive_wheel"],data1["fuel_type"])

fuel_type    diesel  gas
drive_wheel
4wd               0    9
fwd               9  111
rwd              11   65

In [29]:
data1.fuel_system.value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel_system, dtype: int64

In [30]:
data1.car_body.value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: car_body, dtype: int64

In [31]:
data1.fuel_type.value_counts()

gas       185
diesel     20
Name: fuel_type, dtype: int64

In [32]:
data1.aspiration.value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [33]:
data1.door_number.value_counts()

4    115
2     90
Name: door_number, dtype: int64

In [34]:
data1.engine_location.value_counts()

front    202
rear       3
Name: engine_location, dtype: int64

In [35]:
data1.door_number.value_counts()

4    115
2     90
Name: door_number, dtype: int64

In [36]:
data1.cylinder_number.value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylinder_number, dtype: int64

In [37]:
k={"four":4,"six":6,"five":5,"eight":8,"two":2,"three":3,"twelve":12}
data1.cylinder_number=data1.cylinder_number.apply(lambda x:k[x] if x in k else x)
data1.cylinder_number.value_counts()

4     159
6      24
5      11
8       5
2       4
3       1
12      1
Name: cylinder_number, dtype: int64

In [38]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 1 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   car_name           205 non-null    object
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   door_number        205 non-null    int64
 5   car_body           205 non-null    object
 6   drive_wheel        205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   car_length         205 non-null    float64
 10  car_width          205 non-null    float64
 11  car_height         205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  cylinder_number    205 non-null    int64
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  bore_ratio         205 non-null    float64
 18  stroke             205 non-null    float64
 19  compression_ratio  205 non-null    float64
 20  horse_power        205 non-null    int64
 21  peak_rpm           205 non-null    int64
 22  city_mpg           205 non-null    int64
 23  highway_mpg        205 non-null    int64
 24  price              205 non-null    int64
 25  brand              205 non-null    object
dtypes: float64(7), int64(10), object(9)
memory usage: 43.2+ KB

In [39]:
data1.head()

,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,car_length,...,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price,brand
car_id,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,alfa-romero
2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,alfa-romero
3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,alfa-romero
4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,audi
5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,audi

In [40]:
data1.tail()

,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,car_length,...,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price,brand
car_id,,,,,,,,,,,,,,,,,,,,,
201,-1,volvo 145e (sw),gas,std,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,volvo
202,-1,volvo 144ea,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,volvo
203,-1,volvo 244dl,gas,std,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,volvo
204,-1,volvo 246,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,volvo
205,-1,volvo 264gl,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,volvo